form(action='/login', method='POST', accept-charset='UTF-8')

  label(for='username') Username
  input#username(type='text', name='username', required)

  label(for='password') Password
  input#password(type='password', name='password', required)

  input(type='submit', name='submit') Login
